* {
    font-family: 'Verdana', 'Monaco', 'Arial';
}

body {
    margin: 0;
    padding: min(2rem, 2vw);
    color: #ffffff;

    

    background: rgb(75,73,131);
    background: linear-gradient(300deg, rgba(75,73,131,1) 0%, rgba(53,51,91,1) 33%, rgba(38,37,65,1) 65%, rgba(15,15,26,1) 100%);
}

hr {
    color: #ffffff;
}

.Headline {
    width: fit-content;

    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-size: clamp(2.5rem, 5vw, 4.5rem);
    text-align: center;
}